/nbproject/private/
/build/
/Splitter/build/
/ClearTank/nbproject/private/
/ClearTank/build/
/LuceneHDFS/nbproject/private/
/LuceneHDFS/build/
/Splitter/Stage1_Articles/
/Splitter/dist/
/HadoopCatJob/nbproject/private/
/HadoopCatJob/build/
/HadoopCatJob/dist/
/NeoTHeOne/nbproject/private/
/NeoTHeOne/build/
/NeoTHeOne/dist/
/NonHadoop/nbproject/private/
/NonHadoop/build/
/IEERQ/nbproject/private/
/IEERQ/build/
/Working/build/